.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.226);
  border-radius: 15px;
}

.navbar-logo img {

  object-fit: cover;
}

.navbar-user img {
  height: 30px;
  margin-right: 10px;
}

.navbar-search input {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);
  background-image: url("https://img.icons8.com/?size=50&id=59878&format=png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 20px;
  padding-left: 40px;
  width: 300px
}

.navbar-search input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226);
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}
a {
  color: #999; /* set the default link color to a soft gray */
  text-decoration: none; /* remove the underline */
  font-size: 14px; /* set the default font size to 14px */
  font-weight: bold; /* set the default font weight to bold */
  font-family: Arial, Helvetica, sans-serif; /* set the default font to sans-serif */
  transition: color 0.2s ease-in-out; /* add a transition effect to the color */
}

a:hover {
  color: #666; /* change the link color on hover to a slightly darker gray */
}